<sprk-accordion>
    <sprk-accordion-item
      title="This is an accordion heading"
      additionalClasses="sprk-u-mbs"
      additionalHeadingClasses="sprk-b-TypeDisplaySeven"
      idString="accordion-item-1"
      analyticsString="object.action.event"
    >
      <p>
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </sprk-accordion-item>

    <sprk-accordion-item
      title="This is an accordion heading"
      idString="accordion-item-2"
      analyticsString="object.action.event"
      additionalHeadingClasses="sprk-b-TypeDisplaySeven"
    >
      <p>
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </sprk-accordion-item>

    <sprk-accordion-item
      title="This is an accordion heading"
      idString="accordion-item-3"
      analyticsString="object.action.event"
      additionalHeadingClasses="sprk-b-TypeDisplaySeven"
    >
      <p>
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
        This is an example of accordion content.
      </p>
    </sprk-accordion-item>
  </sprk-accordion>